
server/.env
/server/node_modules/
# Ignorer tous les fichiers du dossier profile_pictures
server/uploads/profile_pictures/*

# Mais ne pas ignorer le dossier profile_pictures lui-même
!server/uploads/profile_pictures/.gitkeep

# Ignorer les fichiers PNG (si cela s'applique en dehors de ce dossier)
*.png

