
.footer{
    border-top: 2%;
    margin-top: 5%;
    margin-left: 7%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    
}

.footer-left, .footer-left-middle, .footer-right, .footer-right-middle{
    flex-grow:1;
    flex-wrap: wrap;
}

.footer-line{
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 3%;
   align-items:center;
   justify-content: center;
}

.footer-bottom{
    padding-bottom: 2%;
    align-content: center;
    text-align: center;
}