.footer{
    border-top: 2%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: E6E6E6;
    display: flex;
}

.footer-left, .footer-left-middle, .footer-right, .footer-right-middle{
    flex: 1;
}

.footer-line{
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 2%;
}

.footer-bottom{
    margin-bottom: 2%;
    align-content: center;
    text-align: center;
}
